*{
    padding: 0;
    margin: 0;
}
$main-size: 200px;
.box{
width: $main-size;
height: $main-size;
background-color: red;
&:hover{
    background-color: green;
}
.inside{
width: $main-size;
height: $main-size;
background-color: black;
position: absolute;
}
}
%btnstyle{
    width: 100px;
    height: 20px;
    background-color: red;
}
.reset{
    @extend %btnstyle;
background-color: aqua
}
.logout{
    @extend %btnstyle;
}
@mixin name {
    
}
@import "header";

@import "main1";